# atcoder-cli
home/.config/configstore

# karabiner
home/.config/karabiner/automatic_backups

# github-copilot
home/.config/nvim/pack/github/start/copilot.vim
home/.config/github-copilot/

# nvim
home/.config/nvim/lazy-lock.json
