[user]
		name = Daiki Wakabayashi
[core]
		editor = nvim
		autocrlf = false
[commit]
        template = ~/.gitmessage.txt
[pull]
		rebase = false
[init]
		defaultBranch = main
[alias]
		st = status -s
